{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Offence Management System</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/offencelist.css' %}">
</head>

<body>
    {% block content %}
        <div class="main container-fluid">
            <div class="left">
                <h1 class="h1 text-center pt-3 ">TRAFFIC OFFENSES</h1>
                <ul class="text-center mt-2">
                    <li><a href="{% url 'PenaltyManager:dashboard' %}">DASHBORD</a></li><br>
                    <li><a href="{% url 'PenaltyManager:dashboard' %}">REPORT OFFENCE</a></li><br>
                    <li><a href="{% url 'PenaltyManager:offencelist' %}">OFFENCE LIST</a></li><br>
                    <li><a href="{% url 'PenaltyManager:dashboard' %}">ACCOUNT</a></li><br>
                </ul>
            </div>
            <div class="right container">
                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <span class="bb">Hi, {{ user.username }}</span>
                    <a href="{% url 'PenaltyManager:logout' %}"><button class="btn btn-primary" type="submit">Log out</button></a>
                </nav>
                <h3>Report an Offence</h3>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <div>
                        <br>
                        <div>
                            <p>Offence Id:</p>{{ form.penalty_id }}
                        </div>
                        <div>
                            <p>Offender's Name:</p>{{ form.driver_name }}
                        </div>
                        <div>
                            <p>Driver's License:</p>{{ form.driver_license }}
                        </div>

                        <div>
                            <p>Vehicle Reg. No.:</p>{{ form.vehicle_plate }}
                        </div>
                        <div>
                            <p>Offence:</p>{{ form.offence }}
                        </div>

                        <div>
                            <p>Gender:</p>{{ form.gender }}
                        </div>
                        <div>
                            <p>Officer Reporting:</p>{{ form.officer_name }}
                        </div>
                        <div>
                            <p>Address:</p>{{ form.address }}
                        </div>
                        <div>
                            <p>Date:</p>{{ form.date }}
                        </div>
                        <div>
                            <br>
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
    {% endblock %}
</body>

</html>
