{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="main container-fluid">
        <div class="img">
            <img src="{% static 'css/pic1.jpg' %}" alt="pic">
        </div>
        <div class="right container">
            <!-- <div class="card w-50 bg-light"> -->

            <h1 class="h1 text-center pt-3">TRAFFIC OFFENCE <br> MANAGEMENT SYSTEM</h1>

            <div class="container mx-auto mt-5">
                <h5 class="text-center">Login Here</h5>
                <div class="form-floating">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <div class="d-grid gap-2 my-3">
                            <button type="submit" class='btn btn-primary'>Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
